* {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  overflow-x: hidden; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
  z-index: 999; }

input {
  display: none; }

.header-menu {
  display: flex;
  margin-right: 100px; }
