/* Variables */
$img: "../../images";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&family=IBM+Plex+Sans+Condensed:wght@400;600&family=IBM+Plex+Sans:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    p {
        font-family: IBM Plex Mono;
        font-size: .875rem;
        line-height: 1.5rem;
        @media screen and (min-width: 768px){
            font-size: 1rem;
        }
    }
    .crossed {
        text-decoration: line-through;
    }
    .color {
        font-family: Century Gothic;
        @media screen and (min-width: 768px){
            color: #0000EC;
        }
    }
    .button {
        font-family: IBM Plex Mono;
        line-height: 1.5rem;
    }
    h1, h2 {
        font: normal 3rem IBM Plex Sans, sans-serif;
        letter-spacing: 0;
        margin-bottom: 2rem;
    }
    .title {
        padding: .5rem 1rem;
        text-align: left;
        font-size: 2.25rem;
        line-height: 2.6rem;
        @media screen and (min-width:768px){
            margin: 1rem 10%;
            padding: 0;
            max-width: 1440px;
        }
        @media screen and (min-width:992px){
            margin: 1rem auto;
            margin-left: 200px;
        }
    }
    & > div:first-child {
        background-color: white;
        position: sticky;
        top: 0;
        z-index: 3;
    }
}

nav {
    max-width: 1600px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    & > a:first-child {
        background: url(../../images/logo.svg) no-repeat center;
        background-size: contain;
        width: 2rem;
        height: 2rem;
        margin: .5rem;
    }
    ul {
        width: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: blue;
    }
    a {
        display: block;
        padding: .5rem;
        text-decoration: none;
        color: white;
        font-family: IBM Plex Mono;
    }
    label {
        position: relative;
        height: 3rem;
        width: 3rem;
        overflow: hidden;
        margin: .5rem;
        span {
            display: block;
            height: .2rem;
            width: 2rem;
            background-color: black;
            margin: .5rem;
            transition: all 1s ease;
            position: absolute;
            &:nth-child(1) {
                top: .5rem;
            }
            &:nth-child(2) {
                top: 1rem;
            }
            &:nth-child(3) {
                top: 1.5rem;
            }
        }
    }
}

#hamburger {
    display: none;
    &:checked + label span:nth-child(even) {
        transform: rotate(45deg);
    }
    &:checked + label span:nth-child(odd) {
        transform: rotate(315deg);
    }
    &:checked + label span{
        position: absolute;
        top: 1rem;
    }
    &:checked ~ .headerMenu {
        height: auto;
        top: 0;
    }
}

.headerMenu {
    height: 0;
    position: relative;
    top: -100vh;
    transition: all 1s ease-out;
    a {
        padding: 1rem .5rem;
        &:hover {
            text-decoration: line-through;
            color: #00F3BB;
        }
        &:active {
            color: rgba(6,10,36,0.56);
        }
    }
}

header {
    color: #060A24;
    padding: 1rem;
    max-width: 1440px;
    margin: 0 auto 3rem;
    #helloDesktop {
        display: none;
    }
    @media screen and (min-width: 768px) {
        h1, p, button.button{
            margin: 0 10%;
        }
        button.button {
            max-width: 228px;
        }
    }
    @media screen and (min-width: 1200px) {
        h1, p, button.button{
            margin-left: 200px;
        }
    }
}

.containerIframes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    gap:.5rem;
    justify-content: center;
    align-content: flex-start;
        @media screen and (min-width: 992px) {
            grid-template-columns: repeat(2, minmax(380px, 584px));
            gap: 4rem;
        }

    iframe {
        display:block;
        border: none;
        display: block;
        width: 100%;
        height: 232px;
    }
}

#us{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    .aboutImg{
        width: 100%;
        max-width: 457.6px;
        position: relative;
        z-index: 1;
    }
    .aboutDescription {
        line-height: 1.5rem;
    }
}

#interviews {
    margin: auto;
    max-width: 1440px;
    .guestsImages{
        display: block;
        margin: 0;
        grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
        
        img {
            display: block;
            width: 100%;
        }
    }
}

#topi {
    margin: 1rem auto 3rem;
    max-width: 1440px;
    @media screen and (min-width:768px){
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        margin: 1rem auto 6rem;
    }
    .topic {
        display: flex;
        margin: auto;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 320px;
        line-height: 1.5rem;
        figcaption {
            font-family: IBM Plex Sans;
            font-weight: 600;
            font-size: 1.5rem;
            color: #060A24;
        }
        img{
            max-width: 104px;
            margin: 1rem 0;
        }
    }
    h2 {
        width: 100%;
    }
}

.button {
    background-color:#00F3BB;
    max-width: 345px;
    display: block;
    margin: auto;
    padding: .75rem 1rem;
    border: none;
    width: 100%;
    font-size: 1.125rem;
    outline: none;
    transition: all .5s ease-in;

    &:hover {
        background-image: linear-gradient(225deg, #0000a3 -40%, #00f3bb 100%);
        color: white;
    }
}

#episodes, .news {
    position: relative;
    padding: 6rem 1rem;
    color: white;
    text-align: center;
    perspective: 100px;
    perspective-origin: -5000px 100%;
    @media screen and (min-width:768px) {
        perspective-origin: -200% 100%;
        margin-top: 3rem;
    }
}

.backgrounds {
    position: absolute;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#episodes {
    margin-bottom: -5rem;
    h2{
        margin: 1rem auto 2rem;
        max-width: 1440px;
        @media screen and (min-width: 768px) {
            padding-left: 10%;
        }
        @media screen and (min-width: 992px) {
            padding-left: 200px;
        }
    }
}

#episodes .backgrounds {
    transform: skewY(-6deg);
}

.news .backgrounds {
    transform: 
        rotateY(30deg);
    @media screen and (min-width:768px){
        transform: 
            rotateY(60deg);
    }
}

.containerSocial {
    padding: 0 1rem;
    max-width: 1600px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    font-family: IBM Plex Mono;
    a {
        display: inline-block;
        margin: .5rem;
        color: black;
        text-decoration: none;
    }
}

@media screen and (min-width:576px) {
    #interviews {
        .guestsImages {
            display: grid;
        }
    }
}

@media screen and (min-width:768px) {
    nav {
        label {display: none;}
        a {color: #060A24;}
    }

    .headerMenu {
        position: static;
        width: auto;
        height: auto;
        background-color: transparent;
        display: flex;
    }

    header {
        #helloMobile {
            display: none;
        }
        #helloDesktop {
            display: block;
            max-width: 768px;
        }
        button.button {
            margin-top: 1rem;
            margin-bottom: 3rem;
        }
    }

    #us{
        flex-direction: row;
        .aboutDescription {
            max-width: 576px;
        }
    }
}