* {
    margin: 0;
    padding: 0;
    border: 0;  
    }

body {
    overflow-x: hidden; //Le dice al browser que no muestre cualquier contenido que se salga de las dimensiones especificadas en el contenedor.
 }    